@use 'reset';
@use 'variables' as vars;
@use 'mixins' as mix;

*::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

*::-webkit-scrollbar-track {
	background-color: vars.$white;
}

*::-webkit-scrollbar-thumb {
	background-color: vars.$primary-color;
	border-radius: 10px;
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	line-height: 1.5;
	letter-spacing: 1px;
	font-family: 'Lato', sans-serif;
	color: vars.$black-light;
	background-color: vars.$white;
}

h1 {
	@include mix.responsive-text(
		'font-size',
		map-get(map-get(vars.$font-sizes, 'large'), 'h1'),
		map-get(map-get(vars.$font-sizes, 'medium'), 'h1'),
		map-get(map-get(vars.$font-sizes, 'small'), 'h1')
	);
	font-weight: bold;
}

h2 {
	@include mix.responsive-text(
		'font-size',
		map-get(map-get(vars.$font-sizes, 'large'), 'h2'),
		map-get(map-get(vars.$font-sizes, 'medium'), 'h2'),
		map-get(map-get(vars.$font-sizes, 'small'), 'h2')
	);
}

h3 {
	@include mix.responsive-text(
		'font-size',
		map-get(map-get(vars.$font-sizes, 'large'), 'h3'),
		map-get(map-get(vars.$font-sizes, 'medium'), 'h3'),
		map-get(map-get(vars.$font-sizes, 'small'), 'h3')
	);
}

th,
h4 {
	@include mix.responsive-text(
		'font-size',
		map-get(map-get(vars.$font-sizes, 'large'), 'h4'),
		map-get(map-get(vars.$font-sizes, 'medium'), 'h4'),
		map-get(map-get(vars.$font-sizes, 'small'), 'h4')
	);
}

p,
a,
li,
td {
	@include mix.responsive-text(
		'font-size',
		map-get(map-get(vars.$font-sizes, 'large'), 'p'),
		map-get(map-get(vars.$font-sizes, 'medium'), 'p'),
		map-get(map-get(vars.$font-sizes, 'small'), 'p')
	);
}

small {
	@include mix.responsive-text(
		'font-size',
		map-get(map-get(vars.$font-sizes, 'large'), 'small'),
		map-get(map-get(vars.$font-sizes, 'medium'), 'small'),
		map-get(map-get(vars.$font-sizes, 'small'), 'small')
	);
}

input,
textarea,
select {
	@include mix.responsive-text(
		'font-size',
		map-get(map-get(vars.$font-sizes, 'large'), 'p'),
		map-get(map-get(vars.$font-sizes, 'medium'), 'p'),
		map-get(map-get(vars.$font-sizes, 'small'), 'p')
	);
	width: 100%;
	border: none;
	border-bottom: 1px solid vars.$gray;
	padding: vars.$spacing-sm 0;
	background-color: transparent;

	&:focus {
		outline: none;
		border-color: vars.$primary-color;
	}
}

button {
	@include mix.responsive-text(
		'font-size',
		map-get(map-get(vars.$font-sizes, 'large'), 'p'),
		map-get(map-get(vars.$font-sizes, 'medium'), 'p'),
		map-get(map-get(vars.$font-sizes, 'small'), 'p')
	);
	padding: 8px 16px;
	background-color: vars.$primary-color;
	color: vars.$white;
	border-radius: 4px;
}
