@use '@/styles/animations' as anim;
@use 'variables' as vars;

/* Centrage Flex */
@mixin flexCenter($direction: row) {
	display: flex;
	flex-direction: $direction;
	justify-content: center;
	align-items: center;
}

/* Animation Fade */
@mixin fade-in($duration: 0.5s) {
	animation: fadeIn $duration ease-in-out;
}

@mixin fade-out($duration: 0.5s) {
	animation: fadeOut $duration ease-in-out forwards;
}

/* Animation Slide-in Bounce */
@mixin slide-in-bounce($duration: 0.6s, $delay: 0s) {
	animation: slideInBounce $duration cubic-bezier(0.25, 1, 0.5, 1);
	animation-delay: $delay;
	animation-fill-mode: forwards;
}

/* Animation Slide-out Bounce */
@mixin slide-out-bounce($duration: 0.6s, $delay: 0s) {
	animation: slideOutBounce $duration cubic-bezier(0.25, 1, 0.5, 1);
	animation-delay: $delay;
	animation-fill-mode: forwards;
}

/* Animation Slide-out */
@mixin slide-out($duration: 0.5s) {
	animation: slideOut $duration ease-in-out forwards;
}

/* Ombres */
@mixin box-shadow {
	box-shadow: vars.$box-shadow;
}

/* Taille de Police */
@mixin font-size($size) {
	font-size: $size;
	line-height: 1.5;
	letter-spacing: 1px;
}

/* Responsive */
@mixin responsive($breakpoint) {
	@media (max-width: $breakpoint) {
		@content;
	}
}

/* Texte Responsive */
@mixin responsive-text($property, $size-large, $size-medium, $size-small) {
	#{$property}: $size-large;

	@media (max-width: vars.$breakpoint-tablet) {
		#{$property}: $size-medium;
	}

	@media (max-width: vars.$breakpoint-mobile) {
		#{$property}: $size-small;
	}
}
